
.left {
    width:auto;
    height:'100%';
    
    overflow:hidden;
    font-family: Poppins !important;
}
#right {
    height:500px;
    width:300px;
    
  color: black;
    border-bottom-right-radius: 25px;


   padding: 0% !important;
    
    display: none;
    float:left;
     transition: visibility 0s linear 0.33s
}
.translate{
   transform: translateY(+40%);
}
#userprofile{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-font-smoothing: antialiased;
cursor: pointer;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
outline: 0;
padding: 0;
box-sizing: border-box;
border-radius: 50%;
height: 32px;
vertical-align: middle;
width: 32px;
margin: auto;
display: block;
object-fit: cover;

position: absolute;


}
.circleImage{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-font-smoothing: antialiased;
cursor: pointer;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
outline: 0;
padding: 0;
box-sizing: border-box;
border-radius: 50%;
height: 32px;
vertical-align: middle;
width: 32px;
margin: auto;
display: block;
object-fit: cover;

position: absolute;


}
.topbar{
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}
.topbarCorerPart{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
color: rgba(0,0,0,.987);
line-height: 16px;
-webkit-font-smoothing: antialiased;
letter-spacing: normal;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
box-sizing: border-box;
display: flex;
align-items: center;
flex: 1 0 auto;
justify-content: flex-end;
padding-right: 8px;
}
.translateText{
  

   margin-left: 10%;
   font-size: x-large;
   font-family: poppins;
}
.topbar{
   display: flex;
   height: 45px;
   background: #196EDE;
 
   color: white;
  
}
.home-nav-ul {
   list-style: none;
   display: contents;
}
 
.home-nav-ul  :HOVER {
   background: #EBEBEB;
   color: black;
}
.home-nav-item{
   width: 100%;
   background: white;
   height: 50px;
   margin-bottom: 5px;
   padding-top: 5%;
   border-radius: 7%;
   margin-top: 5px;
   cursor: pointer;
   padding-left: 15px;
  color: #707172;
  font-family: poppins;
 
   
}
.home-nav-item span{
   margin-left: 10px;
}
#subMenu li{
   margin-top: 10px;
   list-style: none;
   width: 100%;
   background: white;
   height: 50px;
   
  padding-top: 5%;
   border-radius: 7%;
   margin-top: 10px;
   cursor: pointer;
   padding-left: 15px;
   color: #707172;
   font-family: poppins;
   


}
#subMenu span{
   margin-left: 10px;
   
}
#subMenu :hover{
   background: #EBEBEB;
   color: black;
}